body {
  margin: 0;
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: white;
  background-image: url(../image/background.png);
  font-weight: 100;
  background-attachment: fixed;
  font-size: large;
}
.top-head-div {
  position: relative;
  padding: 20px 20px 20px;
  background-color: #e8d031;
}
.top-head {
  text-align: center;
  display: inline;
}
.sidehead {
  right: 2%;
  position: absolute;
}
#plus {
  position: fixed;
  right: 2%;
  bottom: 2%;
  height: 50px;
  width: 50px;
  display: inline-block;
  background-color: red;
  border-radius: 50%;
  cursor: pointer;
}

.text-center{
  vertical-align:baseline;
  margin: auto;
}

.main-content {
  padding: 20px;
  font-family: "Roboto", sans-serif;
  margin: 10px;
  background-color: white;
  color: black;
  border-radius: 30px;
}
.main-content p {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
}
.trash{
  cursor: pointer;
}